 {% extends "layout.html" %}
 
 {% block header %}
      <header>
        <h1 id="title"> <span style="color:#119999";><event.title title="{{event.title}}">{{event.title}}</event.title>  </span></h1>
      </header>
    {% endblock %}
    
    getById (i)
    
 {% block mainContent %}
 {% if errors %}
    <div class="form-errors">
      <p>Please correct the following errors!</p>
      <ul class="form-errors">
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  

  <img id="image" src="{{event.image}}" />
   <p></p> 
   When: <span style="color:#018899";> <span id="date"> <time datetime="{{event.date}}">{{event.date|prettyDate}}</time> </span></span>
   <p></p>
   Where: <span style="color:#018899";><span id="location">  <location location="{{event.location}}">{{event.location}}</location> </span></span>
  <p></p>
  Attendees:<span style="color:#018899";> 
  <ul id="attendees">
      <li <attendees attending ="{{event.attending}}">{{event.attending}}</attendees></li>
  </ul>
  </span>
  <p></p>


    
 <form method="POST">
      Interested in attending? RSVP by entering your email address below! <br>
      <p></p>
      <input type="email" name="email" id="email"><br>
      <p></p>
    <input type="submit" value="Submit">
    </form>
    
{% endblock %}
  
